/*css for index, Focus 411*/

/*
color:

*/



body{

background-color: #1591E8 !important;

}


#wrapper{
margin-top: 20px;
margin-left:auto;
margin-right: auto;
width:1200px;
background-color: #fff;
margin-top: 40px;
border-radius:25px;

}

#containerone{
		float:left;
		width:100%;
		background-color:#fff;
		background:url(layout-three-liquid-background1.gif) repeat-y 20% 0;
		

}

#containertwo{
		float:left;
		width:100%;
		background-color:#fff;
		background:url(layout-three-liquid-background2.gif) repeat-y 80% 0;
	}


#content {
		float:left;
		width: 56%;
		padding:20px 0;
		margin:0 0 0 2%;
}
#content h2	{
		margin:0;
}
aside{
		float:right;
		width:16%;
		padding:20px 0;
		margin:0 2% 0 0 ;
		display:inline;


	}

aside h3{
		margin:0;


}

footer{
		clear:both;
    background:#ccc;
		text-align:left;
		padding:20px;
		height:1%;

}


footer a{
  clear:right;
  float:right;
    text-align: right;
    text-decoration: none;
    color:#008EE8;

}
footer a:hover{
  color:#005C96;

}





#slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }
    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }


.textArea{
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: gray solid 2px;
}

.textArea h1 {
  font-size: 30px;
  width:430px;
  clear:left;
  float:left;
  padding-right:200px;
 height:100px;
  color:#044DF5;
  font-weight: bolder;
  font-family:Georgia;
 

}

.textArea p{
  padding:10px;
  width:500px auto;
  margin-left: 400px;
  position:right;
  text-align: justify;
  line-height: 1.5;
  font-family:'Courier New';
}

.textArea p:hover{
  border:2px solid;
}



body {
  line-height:1;

}
table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  text-align:left;
  font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:"";
}
blockquote, q {
  quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
  font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  

}

a, a:visited {
  color:blue;
  text-decoration:none;
}
a:hover, a:active {
  color:#000;
  text-decoration:none;
}

#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.slider-container { 
  width: 80%; 
  margin: 100px auto;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
  clear:both;
}

.col-lg-4{
  text-align: center;
}

.col-lg-4 h2{
  color:blue;
  font-family: 'Palatino Linotype';
}

#welcome{
  margin-left: 10px;
  margin-bottom: 20px;
  width:430px;
  padding:5px 10px;
  font-family: 'Century Gothic';
  color:#EDE21B;
  background-color:#0226BA;
  border:2px solid #EDE21B ;
  border-radius:18px;
}
#welcome:hover{
  color:blue;
  background-color:#EDE21B; 
  border:2px solid #0226BA ;

}

iframe{
  margin-left: 400px;
}
form{
  text-align: right
}