/*css for index, Focus 411*/

/*
color:

*/


body {

   background-image: url(img/mural.jpg);
  background-repeat: repeat-x;

}


#wrapper{
		margin:0 auto;
		width:1200px;
   background-color: #fff;
  
		

}

header{
		padding:20px;
		background:#ccc;
		text-shadow: 5px 5px 5px blue;
    border-left:4px solid;
    border-right:4px solid;
    border-left-color:blue;
    border-right-color:blue;

}





/*This is the h1 header inside of a section*/
.border {
 
    color:orange;
    font-family:'Comic Sans MS', verdana;
    font-size: 50px;
    text-align: center;
    padding:0;
    margin:0;
 
    }



#containerone{
		float:left;
		width:100%;
		background-color:#fff;
		background:url(layout-three-liquid-background1.gif) repeat-y 20% 0;
		

}

#containertwo{
		float:left;
		width:100%;
		background-color:#fff;
		background:url(layout-three-liquid-background2.gif) repeat-y 80% 0;
	}



#content {
		float:left;
		width: 56%;
		padding:20px 0;
		margin:0 0 0 2%;
}
#content h2	{
		margin:0;
}
aside{
		float:right;
		width:16%;
		padding:20px 0;
		margin:0 2% 0 0 ;
		display:inline;


	}

aside h3{
		margin:0;


}

footer{
		clear:both;
    background:#ccc;
		text-align:left;
		padding:20px;
		height:1%;
    border-left:4px solid;
    border-right:4px solid;
    border-left-color:blue;
    border-right-color:blue;

}


footer a{
  clear:right;
  float:right;
    text-align: right;
    text-decoration: none;
    color:#008EE8;

}
footer a:hover{
  color:#005C96;

}





#slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }
    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden

    }
    #one h2{
      text-align: left;
      color:blue;
      font-family: verdana;
      font-size:35px;
    }

    #one {
      padding:10px;
       border-left:4px solid;
    border-right:4px solid;
    border-left-color:orange;
    border-right-color:orange;
    }


      #two h2{
      text-align: left;
      color:blue;
       font-family: verdana;
      font-size:35px;

    }

    #two {
      padding:10px;
       border-left:4px solid;
    border-right:4px solid;
    border-left-color:blue;
    border-right-color:blue;
    }


      #three h2{
      text-align: left;
      color:blue;
       font-family: verdana;
      font-size:35px;

    }

    #three {
      padding:10px;
       border-left:4px solid;
    border-right:4px solid;
    border-left-color:yellow;
    border-right-color:yellow;
    }
    hr{
      width:600px;
      text-align: center;
    }

    #wrapper h1{
      font-family:sans-serif;
      font-size: 40px;
      color:#4981FF;
      padding:10px;
    }

    .roundImg{
    border-radius:100%;
     margin:0;
   padding:0;
}

#text{
  padding:10px;
  width:200px;
  text-align:center;
}
#text h2{
  color:#4981FF;
  font-size:25px;
  font-family: 'Comic Sans MS'
}


#text2{
  padding:10px;
  width:200px;
  text-align:center;
}
#text2 h2{
  color:#4981FF;
  font-size:25px;
  font-family: 'Comic Sans MS'
}


#text3{

  padding:10px;
  width:200px;
  text-align:center;
}
#text3 h2{
  color:#4981FF;
  font-size:25px;
  font-family: 'Comic Sans MS'
}

















#view1 a{
  text-decoration: none;
  width:100px;
  height:20px;
  text-align: center;
  background-color:#C6B9AA;
  border-radius:15px;
  color:#266BFF;
  padding:10px;
  border:2.5px solid #266BFF;
}
#view1 a:hover{
 background-color:#9E9699;
}