/*this is the style sheet for the first site*/

html,body{ 
			padding:15;
			margin:15;
		}


header{
	font-family: Verdana,'New Times Roman';
	font-size: 10px;
	position: right;
	color:#375C99;
	text-align: center; 
}

h2{ font-family: 'Monotype Cursive', sams-ms,;
	font-size: 40px;
	color:;
	text-align:center;

}

nav{
	width:40%;
	
	background-color:#CCC087;
	text-align:left;
	 }

body{ 
	background-color:#FFF7C2 }

section{
		width: 450px;
		margin-top:10px;
		margin-left:auto;
		margin-right:10px;
		background:#87A3CC ;
		border-style:solid ;
		border-width: 7px;
		border-color:#578736;
		

}

h1, h2{
	text-shadow: 6px 6px 6px #578736;
}


div{ 
	width: auto;
	height: auto;
	background-color:#AF71FF;
 	transition: height 10s width 10s;

	}

div p{ display: none;}



div:hover{ height:auto;
		  width:auto;
		   }
div:hover p{
			display:block;
}

nav{
	float:left;
	background-color:#333;
	width:900px;
}

nav ul{
		margin:0;
		padding:0;
}

nav ul li{
		list-style: none;
		display:inline ;
}
nav ul li a{
			display:block;
			float:left;
			padding:5px 10px;
			color:#fff;
			text-decoration: none;
			border-right: 1px solid white;
}

