#wrapper{
	margin:0 30px;
	background-color:#fff
}

header{ padding:20px;
		background-color:#ccc;
}
header h1{
		margin:0;

}

nav{
	float:left;
	width: 100%;
	background-color:#333;
}

nav ul{
	margin:0;
	padding:0;
}

nav ul li{
		list-style-type:none;
		display: inline;
}
nav ul li a{
		display:block;
		float:left;
		padding: 5px  10px;
		color:#fff;
		text-decoration: none;
		border:1px solid white;
}
nav ul li a:hover{
		background-color: orange;
}
section{
	clear:left;
	padding:20px;
}

section h2{
	color:navy;
	font-size: 160px;
	margin:0 0 .5em;
}
footer{
	background-color: #ccc;
	text-align: right;
	height:1%;
	padding:20px;

}