/*comment*/

#wraper{ margin:0 auto;
		width:600px;
		background-color :white;

}
header{
		background-color: #ccc;
		padding:20px;

}

header h1{ 
			margin:0;


		}
nav{
	float:left;
	background-color:#333;
	width:600px;
}

nav ul{
		margin:0;
		padding:0;
}

nav ul li{
		list-style: none;
		display:inline ;
}
nav ul li a{
			display:block;
			float:left;
			padding:5px 10px;
			color:#fff;
			text-decoration: none;
			border-right: 1px solid white;

}

nav ul li a:hover{
			background-color:#383;
}

section{
	clear:left;
	padding:20px;
}

section h2{
			color:#000;
			font-size:160%;
			margin: 0 0 0.5em;
}

footer{
	background-color:#ccc;
	text-align:right;
	height:1%;
	padding:20px;
}