/*enging hunger*/

/*colors
gray    	 #ccc
white 		 #fff
black		 #000000




*/


html,body{
	margin:0 auto;
	padding:0 auto;
	width:900px;

         }



header { 
		padding:20px;
		background-color:#ccc;
		font-size: 35px;
		color:#3048FF;
		padding:0;
		padding-bottom:15px;
		padding-left:20px;
		
		}


header{
		text-shadow: 6px 6px 6px #CC8714;
      }

header strong {
		
		font-size: 60px;

      }    

header h1{
		margin:0;

      }



.container img {
		border-radius:300px;
		background-color:;
      }





nav   {
	float:left;
	background-color:#333;
	width:900px;
      }

nav ul{
		margin:0;
		padding:0;
      }

nav ul li{
		list-style: none;
		display:inline ;
		padding-right:30px;
      }
nav ul li a{
			display:block;
			float:left;
			padding:5px 10px;
			color:#fff;
			text-decoration: none;
			border-right: 1px solid white;
			font-size: 20px;
		
      }

nav ul li a:hover{
			background-color:#FFE808;
			color:#3048FF;

      }









div h3{
		line-height: 1.5em;
		background-color: #79B2A1;
	  }

div   {  
		  
		
		 background-color:#79B2A1;

	  }


		  
div p {
	width:450px ;
	padding:0 ;
	padding-right:0;
	padding-right:0;
	padding-left:10px;
	border: 05px solid white;
	padding-top: 0;
	background-color:#79B2A1;
      }













section{
		
		
		margin:0 auto;
		width:auto;
      }

section  h1{

		color:#0C8EFF;
		border-radius: 300px;
		background-color:#fff;
		width:300px;
		border:05px solid;
		text-align: center;
      }






section h2 {
	
	margin:0 0 .5em;
	padding-left: 20px;
	color:#0C8EFF;
	margin:0 0 .5em; 
	text-align: center;
	font-size: 30px;

      }

section {
	
	background-color: #79B2A1;
	float:left;
	clear:left;
	width:900px;


      }

section article{
		padding-left:20px;
      }



footer{
	background-color: #ccc;
	text-align: center;
	height:3%;
	position:bottom;
 	clear:both;

      }

hr    {
		text-align: center;
		width:700px;
      }




h1    {
	font-size: 60px;
	font-family:'Times New Roman', sans-serif;
	
	  }


div p {
		
		line-height: 1.5em;
	  }

div   { 

	width: 900px ;
	height: auto;
 	transition: height: 3s;
 				width: 3s;
	  }
div{ height:30%;
		  width:300px; 
		  padding:0;

	  }
		  
div p {
	text-align: center;

      }


h3    {
	
	font-family: verdana;
	color:#B20D00;
	font-size: 15px;
      }


		



		
.container{

  width:900px;
  height:400px;
  overflow:hidden;
  border:0 solid;
  position:relative;
  clear:both;
}
 .container img {
		border-radius:300px;
		background-color:;
  
}
.photo{
 position:absolute;
  animation:round 20s infinite;
  opacity:0;

}
@keyframes round {
  25%{opacity:1;}
  40%{opacity:0;}

}

img:nth-child(5){animation-delay:0s;}
img:nth-child(4){animation-delay:4s;}
img:nth-child(3){animation-delay:8s;}
img:nth-child(2){animation-delay:12s;}
img:nth-child(1){animation-delay:16s;}

		
		
		




