/*comment*/

#wraper{ margin:0 auto;
		width:900px;
		background-color :#fff;

}
header{
		background-color: #ccc;
		padding:20px;

}

header h1{ 
			margin:0;


		}
nav{
	float:left;
	background-color:#333;
	width:900px;
}

nav ul{
		margin:0;
		padding:0;
}

nav ul li{
		list-style: none;
		display:inline ;
}
nav ul li a{
			display:block;
			float:left;
			padding:5px 10px;
			color:#fff;
			text-decoration: none;
			border-right: 1px solid white;

}

nav ul li a:hover{
			background-color:#383;
}
#sectionContainer{
	float:left;
	width:900px;
	background: #fff url(layout-two-fixed-background.gif) repeat-y 100% 0;
	background-position:left;
} 


section{
clear:right;
float:right;	
	width:560px;
	padding:20px 0;
	margin:0 0 30px;
	display:inline;

}

section h2{
			color:#000;
			font-size:160%;
			margin:0;
}
aside{
	float:left;
	width:240;
	padding:20px 0 ;
	margin: 0 20px 0;
	display:inline;
}

aside h3{
	margin: 0;
}


footer{
	background-color:#ccc;
	text-align:center;
	height:1%;
	padding:20px;
	clear: both;
	background-position:bottom;
}

