#wrapper{
		margin:0 auto;
		width:100%;
		background-color:#fff;

}

header{
		padding:20px;
		background:#ccc;
		color:red;
		text-shadow: 5px 5px 5px blue;
}

header h1{
		margin:0;
	}
#topnav{
	float:left;
	width: 100%;
	background-color:#333;
}

#topnav ul {
	margin:0;
	padding:0;
}

#topnav ul li {
		list-style-type:none;
		display:inline; 
}

#topnav ul li a{
	text-decoration: none;
	color:white;
	display:block;
	float:left;
	padding:5px 10px;
	border-right:1px solid #fff;
}

#topnav ul li a:hover {
			background-color:#383;

}
#containerone{
		float:left;
		width:100%;
		background-color:#fff;
		background:url(layout-three-liquid-background1.gif) repeat-y 20% 0;
		

}

#containertwo{
		float:left;
		width:100%;
		background-color:#fff;
		background:url(layout-three-liquid-background2.gif) repeat-y 80% 0;
	}
#sectionnav{
			float:left;
			width:16%;
			padding:20px 0;
			margin:0 2%;
			display:inline;
}
#sectionnav ul{
			margin:0;
			padding:0;

}

#sectionnav ul li{
			margin: 0 0 1em;
			padding: 0;
			list-style-type: none;
}
#content {
		float:left;
		width: 56%;
		padding:20px 0;
		margin:0 0 0 2%;
}
#content h2	{
		margin:0;
}
aside{
		float:right;
		width:16%;
		padding:20px 0;
		margin:0 2% 0 0 ;
		display:inline;


	}

aside h3{
		margin:0;


}

footer{
		clear:both
;		background:#ccc;
		text-align: :right;
		padding:20px;
		height:1%;
}
