/*jefrey arias's style sheet*/

html,body{padding:0;
		 margin:0;
		 }

 
body    {
	font-family: 'Trebuchet MS',helvetica, sans-serif;
	font-size:17; 
    

/*body gives the website a chosen style*/
        }


header  {
		font-family: 'Monotype Cursive', 'Comic Sans MS', sans-serif;
		text-align: center;
	    }


nav     {
	width:100%; 
	background-color: black; 
	font-family: 'Century Gothic', helvetica, sans-serif;
	float: left;
	
	    }

 
nav li  {
		list-style: none;
		float: left;
		width:auto;
		height:20px;
		line-height:15px;
		text-align: center;
		padding-right: 150px;
		text-align: top;
		}


nav li a{
		color:white;
		text-decoration: none;
		display: block;
		color:white;
		}

nav li a:hover{
		background-color: #FFF7C2 ;

		}


section { width: 700px;
	margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		background: white;
		border-style:solid ;
		border-width: 10px;
		border-color:#333;
		border-top-right-radius:100px;
		
		}


body    {
	background-color:#CCCCCC ; 

	    }
h1		{
		 text-shadow: 5px 5px 5px red;
}

div p{
		display:none;
		line-height: 1.5em;
	}

div{ 
	width: 100px;
	height: auto;
	background-color:#FFF7C2;
 	transition: height: 300s;
 				width: 300s;
	}
div:hover{ height:30%;
		  width:30%; 
		  padding:10px;

		}


		  
div:hover p {
	display: block;

}

		.drop_menu{
	background-color: #005555;
	padding:0;
	margin:0;
	list-style: none;
	height: 30px;

}
.drop_menu li{

		float:left;

}

.drop_menu li a {
		padding:9px 20px;
		display:block;
		color:#fff;
		text-decoration: none;
		font-family: Ariel, Verdana, 'Sams Serif';
		font-size: 12px;

}
/*submenu this is pretty awesome*/
.drop_menu ul {
	list-style: none;
	position:absolute;
	left:-9999px;
	top: -9999px;
}

.drop_menu li:hover {
	background-image:#5fd367;
	position:relative;
	background-color:#5fd367 ;


}
.drop_menu li:hover ul{

			left:0;
			top:30px;
			padding:0;
			background:#5fd367;
}

.drop_menu li:hover ul a{
			padding:5px;
			display:block;
			width:168px;
			text-indent:15px;
			background-color:#5fd367;

}
.drop_menu li:hover ul a:hover{
		background-color:#005555; 
}
