/*enging hunger*/

/*colors
gray    	 #ccc
white 		 #fff
black		 #000000




*/


html,body{
	margin:0 auto;
	padding:0 auto;
	width:785px;

}




#wrapper{
	margin:0 30px;
	background-color:#fff;
	
}

header{ padding:20px;
		background-color:#ccc;
		font-size: 35px;
		color:#B20D00;
		padding:0;
		padding-bottom:15px;
		padding-left:20px;


}


header{
		text-shadow: 6px 6px 6px #9597FF;
}
header strong {
		font-family: 'Arial Black';
		font-size: 60px;



}

header h1{
		margin:0;



}








nav{
	float:left;
	background-color:#333;
	width:785px;
}

nav ul{
		margin:0;
		padding:0;
}

nav ul li{
		list-style: none;
		display:inline ;
		padding-right:30px;
}
nav ul li a{
			display:block;
			float:left;
			padding:5px 10px;
			color:#fff;
			text-decoration: none;
			border-right: 1px solid white;
			font-size: 20px;
			


}

nav ul li a:hover{
			background-color:#9597FF;

}







article div h3 {
	background-color:  #FFDCD0;
}




div p{
		display:none;
		line-height: 1.5em;
		background-color: #FFDCD0;
	}

div{ 
	width: 100px;
	height: auto;
	background-color:#FFF7C2;
 	transition: height: 3s;
 				width: 3s;
	}


div:hover{  
		  
		  padding-right:0;
		  padding-top:0;
		 background-color:#FFDCD0;

		}


		  
div:hover p {
	display: block;
	width:40% auto;
	padding:0 ;
	padding-right:0;
	padding-right:0;
	padding-left:10px;
	border: 05px solid white;
}













section{
		padding:20px;
		padding-top:auto;
		margin:0 auto;
}

section  h1{
		width:400px;
		color:#B20D00;





}


section h2 a{
	color:#fff;
	margin:0 0 .5em;
	background-color:navy; 
	padding-right: 40px;
	


}
section h2{
	color:#fff;
	margin:0 0 .5em;
	background-color:navy;
	padding-right: 40px; 
	
	
}




section {
	background-color: #FFDCD0;
	float:left;
	clear:left;
	
	width:400px;
}



section h2{
			
}



footer{
	background-color: #ccc;
	text-align: center;
	height:3%;
	position:bottom;
 	clear:both;

}





























h1 {
	font-size: 60px;
	font-family:'Times New Roman', sans-serif;
	
	}


div p{
		display:none;
		line-height: 1.5em;
	}

div{ 
	width: 398px ;
	height: auto;
	background-color:#fff;
 	transition: height: 3s;
 				width: 3s;
	}
div:hover{ height:30%;
		  width:300px; 
		  padding:0;

		}


		  
div:hover p {
	display: block;
	text-align: center;


}


h3{
	
	font-family: verdana;
	color:#B20D00;
}

#establishment h2{
			font-size: 20px;
			

			color:#9597FF; 
}


#establishment {
		
		border: 2% solid black;
		padding:0 auto;
		margin:0 auto;
		padding-top: 0 auto;
		margin-top: 0 auto;
		clear:right;
		float:right;
		width:400px;


}

#establihsment aside{
		clear:right;
		float:right;
		width:400px;
		padding-top: 0;
		padding-bottom:300;
		border:1% solid navy;
		
}

#establishment aside h3{
		color:black;
		font-size: 15px;
}

aside{
		background-color: #ccc;
		height:1100px;
		
		padding-right: 3px;
		padding-left: 3px;
		border:3px solid navy;
		width:333px;
		clear:right;
		float:right;
		margin:0;
		padding-top: 5px;
		
	}

aside h2{
	color:#fff;
	font-size: 20px;
	padding-left: 0;
	text-align: center;
	background-color:navy;


}

aside dt dl{
		text-decoration: none;
		color:black;
		background-color: #ccc;
		text-align: center;
		border:solid 1px navy;
}
aside p{
	padding-left:10px;
	border: 05px solid white;
} 
		
		
.container{

  width:785px;
  height:400px;
  overflow:hidden;
  border:0 solid;
  position:relative;
  clear:both;
  padding:0 auto;
  margin:0 auto;
  



}
.photo{
 position:absolute;
  animation:round 24s infinite;
  opacity:0;

}
@keyframes round {
  25%{opacity:1;}
  40%{opacity:0;}

}



img:nth-child(6){animation-delay:0s;}
img:nth-child(5){animation-delay:4s;}
img:nth-child(4){animation-delay:8s;}
img:nth-child(3){animation-delay:12s;}
img:nth-child(2){animation-delay:16s;}
img:nth-child(1){animation-delay:20s;}

		
		
		




